
#include "axp803.dtsi"

&ac_power_supply {
	pmu_ac_vol = <4600>;
	pmu_ac_cur = <3000>;

	wakeup_ac_in;
	wakeup_ac_out;
	status = "okay";
};

&reg_aldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vcc-pll-avcc";
};

&reg_aldo2 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-name = "vcc-dram-1";
};

&reg_aldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-boot-on;
	regulator-name = "vcc-usb-pl";
};

&reg_dcdc1 {
	regulator-min-microvolt = <1600000>;
	regulator-max-microvolt = <3400000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vcc-io-usb-pd-emmc-nand-card";
};

&reg_dcdc2 {
	regulator-min-microvolt = <500000>;
	regulator-max-microvolt = <1300000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vdd-cpux";
};

/* DCDC3 is polyphased with DCDC2 */

&reg_dcdc4 {
	regulator-min-microvolt = <500000>;
	regulator-max-microvolt = <1300000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vdd-sys-usb-dram";
};

&reg_dcdc5 {
	regulator-min-microvolt = <800000>;
	regulator-max-microvolt = <1840000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-name = "vcc-dram-2";
};

&reg_dldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-pg-dcxo-wifi";
};

&reg_dldo2 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <4200000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-pe-csi";
};

&reg_dldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "ldo-avdd-csi";
};

&reg_dldo4 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "avcc-csi";
};

&reg_eldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1900000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-pc-lvds-csi-efuse-emmc-nand";
};

&reg_eldo2 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1900000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "dvdd-csi";
};

&reg_eldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1900000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-mipi-lcd";
};

&reg_fldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1450000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-name = "vdd-cpus-usb";
};

&reg_ldo_io0 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-ctp";
	status = "okay";
};

&reg_drivevbus {
	regulator-name = "usb0-vbus";
	status = "okay";
};