BR2_arm=y
BR2_ARM_CPU_ARMV5=y

# Toolchain
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# GCC Options
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y

# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2020.07"
BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=y
BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="board/hatlab/bluebit/uboot.defconfig"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_BIN=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"
BR2_TARGET_UBOOT_PATCH="board/hatlab/bluebit/patch/u-boot"
BR2_TARGET_UBOOT_CUSTOM_DTS_PATH="board/hatlab/bluebit/devicetree/uboot/suniv-f1c100s.dtsi board/hatlab/bluebit/devicetree/uboot/suniv-f1c100s-generic.dts"

# Kernel
BR2_LINUX_KERNEL=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.61"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/hatlab/bluebit/linux.defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_PATCH="board/hatlab/bluebit/patch/linux"
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/hatlab/bluebit/devicetree/linux/suniv-f1c200s.dtsi board/hatlab/bluebit/devicetree/linux/devicetree.dts"

# Filesystem
BR2_TARGET_GENERIC_ISSUE="Welcome to DAS-Security BlueBit"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="110M"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_ROOTFS_OVERLAY="board/hatlab/bluebit/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/hatlab/bluebit/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="${BR2_TARGET_UBOOT_SPL_NAME}"

#Target Packages

#Target Configure
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
