#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/dts-v1/;

#include "allwinner/sun8i-t113s.dtsi"

/ {
    model = "BingPi M2-T113";
    compatible = "bingpi,m2-t113","allwinner,sun8i-t113s";

	aliases {
		serial3 = &uart3;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial3:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pio 6 7 GPIO_ACTIVE_LOW>; /* PG07 */
			linux,default-trigger = "heartbeat";
		};
	};

	panel:panel {
		compatible = "bananapi,s070wv20-ct16";
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			panel_input:endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon_out_lcd0>;
			};
		};
	};

	/* board wide 5V supply directly from the USB-C socket */
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* SY8008 DC/DC regulator on the board */
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* SY8008 DC/DC regulator on the board, also supplying VDD-SYS */
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* XC6206 LDO on the board */
	reg_avdd2v8: regulator-avdd {
		compatible = "regulator-fixed";
		regulator-name = "avdd2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_3v3>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; /* PG12 */
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&dcxo {
	clock-frequency = <24000000>;
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_avdd2v8>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usb_otg {
	dr_mode = "peripheral";
	dmas =  <&dma 30>,<&dma 30>,
			<&dma 31>,<&dma 31>,
			<&dma 32>,<&dma 32>,
			<&dma 33>,<&dma 33>,
			<&dma 34>,<&dma 34>;
	dma-names = "ep1_tx","ep1_rx",
				"ep2_tx","ep2_rx",
				"ep3_tx","ep3_rx",
				"ep4_tx","ep4_rx",
				"ep5_tx","ep5_rx";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&spi0_pins {
	pins = "PC2","PC3","PC4","PC5","PC6","PC7";
	function = "spi0";
};

&mmc0 {
    pinctrl-0 = <&mmc0_pins>;
    pinctrl-names = "default";
    vmmc-supply = <&reg_3v3>;
    cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;
    disable-wp;
    bus-width = <4>;
	status = "okay";
};

&spi0 {
	compatible = "allwinner,sun8i-h3-spi";
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	
	status = "okay";

	spi-nand@0 {
		compatible = "spi-nand";
		spi-max-frequency=<0x5f5e100>;
		reg = <0x0>;
		spi-rx-bus-width = <0x01>;
		spi-tx-bus-width = <0x01>;
		status = "okay";
	};
};

&de {
	status = "okay";
};

&display_clocks {
	status = "okay";
};

&mixer0 {
	status = "okay";
};

&mixer1 {
	status = "okay";
};

&tcon_top {
	status = "okay";
};

&tcon_lcd0 {
	status = "okay";
	pinctrl-0 = <&lcd_rgb666_pins>;
	pinctrl-names = "lcd0";
};

&tcon_lcd0_out {
	tcon_out_lcd0:endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};