// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Yangtao Li <frank@allwinnertech.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "allwinner/sun50i-a100.dtsi"
#include "sun50i-a100-opp-table.dtsi"

/{
	model = "Allwinner HDA133";
	compatible = "allwinner,a100-perf1", "allwinner,sun50i-a100";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8 earlycon";
		linux,stdout-path = &uart0;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		secmon@0x48000000 {
			reg = <0x0 0x48000000 0x0 0x200000>;
			no-map;
		};
	};
};

&pio {
	vcc-pb-supply = <&reg_dcdc1>;
	vcc-pc-supply = <&reg_eldo1>;
	vcc-pd-supply = <&reg_dcdc1>;
	vcc-pe-supply = <&reg_dldo2>;
	vcc-pf-supply = <&reg_dcdc1>;
	vcc-pg-supply = <&reg_dldo1>;
	vcc-ph-supply = <&reg_dcdc1>;
};

&r_pio {
	/*
	 * FIXME: We can't add that supply for now since it would
	 * create a circular dependency between pinctrl, the regulator
	 * and the RSB Bus.
	 *
	 * vcc-pl-supply = <&reg_aldo3>;
	 */
};

&r_i2c0 {
	status = "okay";
	clock-frequency = <200000>;
	axp803: pmic@34 {
		compatible = "x-powers,axp803";
		reg = <0x34>;
		interrupt-parent = <&r_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		x-powers,drive-vbus-en; /* set N_VBUSEN as output pin */
	};
};

#include "axp803.dtsi"

&ac_power_supply {
	pmu_ac_vol = <4600>;
	pmu_ac_cur = <3000>;

	wakeup_ac_in;
	wakeup_ac_out;
	status = "okay";
};

&reg_aldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vcc-pll-avcc";
};

&reg_aldo2 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-name = "vcc-dram-1";
};

&reg_aldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-boot-on;
	regulator-name = "vcc-usb-pl";
};

&reg_dcdc1 {
	regulator-min-microvolt = <1600000>;
	regulator-max-microvolt = <3400000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vcc-io-usb-pd-emmc-nand-card";
};

&reg_dcdc2 {
	regulator-min-microvolt = <500000>;
	regulator-max-microvolt = <1300000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vdd-cpux";
};

/* DCDC3 is polyphased with DCDC2 */

&reg_dcdc4 {
	regulator-min-microvolt = <500000>;
	regulator-max-microvolt = <1300000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-boot-on;
	regulator-always-on;
	regulator-name = "vdd-sys-usb-dram";
};

&reg_dcdc5 {
	regulator-min-microvolt = <800000>;
	regulator-max-microvolt = <1840000>;
	regulator-ramp-delay = <2500>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-name = "vcc-dram-2";
};

&reg_dldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-pg-dcxo-wifi";
};

&reg_dldo2 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <4200000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-pe-csi";
};

&reg_dldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "ldo-avdd-csi";
};

&reg_dldo4 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "avcc-csi";
};

&reg_eldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1900000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-pc-lvds-csi-efuse-emmc-nand";
};

&reg_eldo2 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1900000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "dvdd-csi";
};

&reg_eldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1900000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-mipi-lcd";
};

&reg_fldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1450000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-always-on;
	regulator-name = "vdd-cpus-usb";
};

&reg_ldo_io0 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <3300000>;
	regulator-enable-ramp-delay = <1000>;
	regulator-name = "vcc-ctp";
	status = "okay";
};

&reg_drivevbus {
	regulator-name = "usb0-vbus";
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	uart-supply = <&reg_dcdc1>;
	status = "okay";
};

&mmc0 {
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	bus-width = <4>;
	cd-used-24M;
	cap-sd-highspeed;
	sd-uhs-sdr50;
	sd-uhs-ddr50;
	sd-uhs-sdr104;
	mmc-hs400-1_8v;
	mmc-hs200-1_8v;
	no-sdio;
	no-mmc;
	vmmc-supply = <&reg_dcdc1>;
	vqmmc2-supply = <&reg_dcdc1>;
	// vdmmc33sw-supply = <&reg_dcdc1>;
	vqmmc-supply = <&reg_eldo1>;
	// vdmmc18sw-supply = <&reg_eldo1>;
	max-frequency = <150000000>;
	status = "okay";
};

&mmc1 {
	bus-width = <4>;
	no-mmc;
	no-sd;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	ignore-pm-notify;
	max-frequency = <50000000>;
	ctl-spec-caps = <0x8>;
	vmmc-supply = <&reg_dcdc1>;
	status = "okay";
};

&mmc2 {
	non-removable;
	bus-width = <8>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	no-sdio;
	no-sd;
	ctl-spec-caps = <0x308>;
	cap-mmc-highspeed;
	max-frequency = <100000000>;
	vmmc-supply = <&reg_dcdc1>;
	/*emmc io vol 3.3v*/
	/*vqmmc-supply = <&reg_aldo1>;*/
	/*emmc io vol 1.8v*/
	vqmmc-supply = <&reg_eldo1>;
	status = "okay";
};
